<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Arrive Alive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">The state of <%= @float_plan.name.titleize %> just changed.</td>
        </tr>
        <tr>
          <td>Old State:</td>
          <td><%= @old_state %></td>
        </tr>
        <tr>
        <td>New State:</td>
        <td><%= @float_plan.state %></td>
      </tr>
      </tbody>
    </table>
    <p>To check out the complete details of the float plan, visit <%= float_plan_path(@float_plan) %>.</p>
  </body>
</html>
