=button_to 'Invite New Skipper', new_user_invitation_path, method: 'get', class: 'button'

%table
  %thead
    %tr
      %th.hide-for-small-only Created On
      %th Name
      %th Phone Number
      %th.hide-for-small-only Email
      %th.hide-for-small-only Invitations Count
      %th.hide-for-small-only Invitation Accepted On
      %th
      %th.hide-for-small-only
      %th.hide-for-small-only
  %tbody
    -@users.each do |u|
      %tr
        %td.hide-for-small-only
          =u.created_at.strftime('%m/%d/%y')
        %td
          =u.name
        %td
          =u.phone_number
        %td.hide-for-small-only
          =u.email
        %td.hide-for-small-only
          =u.invitations_count
        %td.hide-for-small-only
          =u.invitation_accepted_at.try(:strftime, '%m/%d/%y')
        %td.center
          =link_to 'View', user_path(u), class: 'hollow button'
        %td.hide-for-small-only.center
          =link_to 'Edit', edit_user_path(u), class: 'hollow button'
        %td.hide-for-small-only.center
          =link_to 'Delete', u,
          data: {confirm: t('users.delete.confirmation', user_name: u.name )},
          method: :delete,
          class: 'hollow button alert'
