.status {
  border-width: 2px;
  border-style: solid;
}
.arrived {
  border-color: #47ba83;
}
.started {
  border-color: #276da6;
}
.distressed {
  border-color: #a61f0e;
}
.cancelled {
  border-color: #e6e6e6;
}
.center {
  text-align: center;
}
