.status {
  border-width: 3px;
  border-style: solid;
}

.card-divider {
  color: white;

  &.arrived {
    background-color: #47ba83;
  }

  &.started {
    background-color: #276da6;

  }

  &.distressed {
    background-color: #a61f0e;
  }

  &.cancelled {
    background-color: #e6e6e6;
    color: black;
  }

}

.arrived {
  border-color: #47ba83;
}

.started {
  border-color: #276da6;
}

.distressed {
  border-color: #a61f0e;
}

.cancelled {
  border-color: #e6e6e6;
}

.center {
  text-align: center;
}
