=form_tag(new_float_plan_path, method: 'get') do
  =label_tag :query, t('float_plans.new_label')
  .row
    .large-8.small-8.columns
      =select_tag :query, options_from_collection_for_select(@float_plans, 'id', 'name'), include_blank: true
    .small-4.large-4.columns
      =submit_tag 'Create', class: 'button'
-#TODO: Add tabs to see started/distressed in one tab, and all in another
- date_format = current_user.admin? ? '%m/%d/%y' : "%B '%y"
- @float_plans.group_by{|f| f.created_at.strftime(date_format)}.each do |key, value|
  %h5
    =key
  .row.small-up-1.medium-up-2.large-up-3
    = render collection: value, partial: 'float_plan'
