.info-all
  %ul
    -t('float_plans.info').each do |key, value|
      %li{class: "info-#{key}"}
        =value

=render 'full_form'
-#TODO: pre-fill first input to skipper
-#TODO: add logic for when guest is clicked, alert or add checkbox about waiver
