@import "settings";

.title-bar {
  background: #1e3f5a;
  line-height: 35px;

  img {
    height: 35px;
  }
}

#nav-menu {
  background: #1e3f5a;
  margin-bottom: 15px;

  @include breakpoint(small only) {
    height: 135px;

    &.admin {
      height: 170px;
    }
  }

  .top-bar-left {
    background-color: #1e3f5a;

    @include breakpoint(small only) {
      .menu {
         display: none;
      }
    }


    img {
      height: 50px;
    }
  }

  .top-bar-right {
    height: 50px;

    @include breakpoint(small only) {
      height: 0;
      text-align: center;
      display: inline-grid
    }

    ul.menu {
      height: 100%;
      display: inline-table;

      @include breakpoint(small only) {
        text-align: center;
        display: inline-grid;
      }

      a {
        color: #fff;
        font-weight: 900;

        &.active {
          border: 1px white solid;
        }
      }
    }
  }

  ul.menu {
    background-color: #1e3f5a;
  }
}
